In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Train.csv')

In [3]:
data.head()

                      date           acc   PID
0  2019-12-13 11:38:33.226  256787571627  80G0
1  2019-11-12 11:46:23.755  256789598703  WLIW
2  2019-11-10 06:12:27.728  256753510223  U1DD
3  2019-12-20 13:34:17.453  256702652564  T0LZ
4  2019-11-15 09:16:06.591  256704005298  80G0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
encoder = LabelEncoder()

In [6]:
data['PID'] = encoder.fit_transform(data['PID'])
data['acc'] = encoder.fit_transform(data['acc'])

In [7]:
data['PID'].head()

0     8
1    28
2    26
3    24
4     8
Name: PID, dtype: int32

In [9]:
data['date'] = pd.to_datetime(data['date'])

In [10]:
data['date'].head()

0   2019-12-13 11:38:33.226
1   2019-11-12 11:46:23.755
2   2019-11-10 06:12:27.728
3   2019-12-20 13:34:17.453
4   2019-11-15 09:16:06.591
Name: date, dtype: datetime64[ns]

In [11]:
data['day'] = data['date'].dt.day

In [12]:
data['month'] = data['date'].dt.month

In [13]:
data['year'] = data['date'].dt.year

In [14]:
featureset = data[['acc',   'day', 'month', 'year']]
labels = data[['PID']]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(featureset, labels)

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
model.score(x_test, y_test)

0.4727283661074027

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [88]:
model2 = RandomForestRegressor(n_estimators=600)

In [89]:
model2.fit(x_train, y_train)

C:\Users\Ennin Francis\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=600,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [90]:
model2.score(x_test, y_test)

0.24306352771896877

In [23]:
Predicted_PID = model2.predict(x_test).round()

In [24]:
sample_data = pd.read_csv('SampleSubmission.csv')

In [25]:
sample_data.head()

               Account X date X PID  Prediction
0  256786974320 X 2020-02-23 X 5YR6           0
1  256786974320 X 2020-02-23 X WLIW           0
2  256786974320 X 2020-02-23 X U1DD           0
3  256786974320 X 2020-02-23 X T0LZ           0
4  256786974320 X 2020-02-23 X 80G0           0

In [26]:
day = 12
month = 11
acc = 256787571627
pid = '80G0'

In [27]:
df_ = pd.DataFrame({'day': day, 'month': month, 'acc':acc,'PID':pid}, index=[0])

In [28]:
df_

   day  month           acc   PID
0   12     11  256787571627  80G0

In [29]:
def user_input(qw):
    qw['PID'] = encoder.fit_transform(qw['PID'])
    qw['acc'] = encoder.fit_transform(qw['acc'])
    return user_feature

In [59]:
df__ = pd.DataFrame({'Account': x_test['acc'], 'day':x_test['day'], 'month':x_test['month'], 'year':x_test['year']})

In [60]:
df__

       Account  day  month  year
17230     1182   25     12  2019
63497     1009   16      2  2020
46940     2196   17      1  2020
65415      519   20      2  2020
52677      120   28      1  2020
...        ...  ...    ...   ...
39213     1989    3      1  2020
16590     2196    2     12  2019
62205     1960   14      2  2020
66419      306   22      2  2020
6349      1340   26     12  2019

[16629 rows x 4 columns]

In [59]:
#result = pd.DataFrame({'Account X date X PID':str(user_featu)+''+str'', 'Prediction':1})

In [44]:
sample = pd.concat([df__,y_test], axis=1)

In [70]:
PID_PRED = pd.DataFrame({'Predicted PID':Predicted_PID},index=list1)

In [71]:
PID_PRED

       Predicted PID
17230           21.0
63497           13.0
46940           27.0
65415           24.0
52677           26.0
...              ...
39213           12.0
16590           24.0
62205           17.0
66419           21.0
6349            26.0

[16629 rows x 1 columns]

In [64]:
sample

       Account  day  month  year  PID Prediction
17230     1182   25     12  2019   28
63497     1009   16      2  2020   28
46940     2196   17      1  2020   28
65415      519   20      2  2020    8
52677      120   28      1  2020   28
...        ...  ...    ...   ...  ...        ...
39213     1989    3      1  2020   15
16590     2196    2     12  2019   28
62205     1960   14      2  2020    8
66419      306   22      2  2020   28
6349      1340   26     12  2019   28

[16629 rows x 6 columns]

In [48]:
len(y_test)

16629

In [81]:
for i in sample.index:
    if (sample['PID'].loc[i]==PID_PRED.loc[i]).bool():
        sample['Prediction'].loc[i]=1
    else:
        sample['Prediction'].loc[i]=0

C:\Users\Ennin Francis\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [82]:
sample

       Account  day  month  year  PID Prediction
17230     1182   25     12  2019   28          0
63497     1009   16      2  2020   28          0
46940     2196   17      1  2020   28          0
65415      519   20      2  2020    8          0
52677      120   28      1  2020   28          0
...        ...  ...    ...   ...  ...        ...
39213     1989    3      1  2020   15          0
16590     2196    2     12  2019   28          0
62205     1960   14      2  2020    8          0
66419      306   22      2  2020   28          0
6349      1340   26     12  2019   28          0

[16629 rows x 6 columns]