In [482]:
from pyforest import *

In [483]:
df = pd.read_csv('Train.csv')

In [484]:
df.head()

                      date           acc   PID
0  2019-12-13 11:38:33.226  256787571627  80G0
1  2019-11-12 11:46:23.755  256789598703  WLIW
2  2019-11-10 06:12:27.728  256753510223  U1DD
3  2019-12-20 13:34:17.453  256702652564  T0LZ
4  2019-11-15 09:16:06.591  256704005298  80G0

In [485]:
df.PID.value_counts()

WLIW    27047
80G0    11906
U1DD     8617
DJGS     4610
T0LZ     3825
6Q4Z     3318
3USE     2834
P7R7      770
CPEH      736
5YR6      699
Q9SJ      672
49DG      300
2F3O      283
0ZFO      166
T2MU      164
93AI      111
YEPH       92
ZDTG       67
7IPS       47
P4IQ       33
5OH5       31
YDAG       30
8DYO       28
PNYC       20
B5DH       18
G1PD       18
FXJ0       18
AWYV       12
UE6G       11
HQ1F       11
XGSZ        6
WZF8        5
NFDD        5
AIT3        4
Name: PID, dtype: int64

In [486]:
df['label'] = 1

In [487]:
df.head()

                      date           acc   PID  label
0  2019-12-13 11:38:33.226  256787571627  80G0      1
1  2019-11-12 11:46:23.755  256789598703  WLIW      1
2  2019-11-10 06:12:27.728  256753510223  U1DD      1
3  2019-12-20 13:34:17.453  256702652564  T0LZ      1
4  2019-11-15 09:16:06.591  256704005298  80G0      1

In [488]:
from sklearn.preprocessing import LabelEncoder

In [489]:
encoder = LabelEncoder()

In [490]:
df['PID'] = encoder.fit_transform(df['PID'])
df['acc'] = encoder.fit_transform(df['acc'])

In [491]:
df.head()

                      date   acc  PID  label
0  2019-12-13 11:38:33.226  2384    8      1
1  2019-11-12 11:46:23.755  2522   28      1
2  2019-11-10 06:12:27.728   757   26      1
3  2019-12-20 13:34:17.453   230   24      1
4  2019-11-15 09:16:06.591   323    8      1

In [492]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66514 entries, 0 to 66513
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    66514 non-null  object
 1   acc     66514 non-null  int64
 2   PID     66514 non-null  int64
 3   label   66514 non-null  int64
dtypes: int64(3), object(1)
memory usage: 2.0+ MB

In [493]:
df['date'] = pd.to_datetime(df['date'])

In [494]:
# dummy_pid = pd.get_dummies(df['PID'])

In [495]:
# df = pd.concat([df, dummy_pid], axis=1)

In [496]:
# df.head()

In [497]:
df['day'] = df['date'].dt.day

In [498]:
df['month'] = df['date'].dt.month

In [499]:
df['year'] = 1

In [500]:
# df['hour'] = df['date'].dt.hour

In [501]:
# df['minute'] = df['date'].dt.minute

In [502]:
# len(df.acc.value_counts())

In [503]:
# for i in :
#     if df.iloc[i]['PID'] !== 8 and df.iloc[i]['']

In [504]:
features = df[['acc', 'day', 'month', 'year',]]
labels = df[['PID']]

In [505]:
from sklearn.model_selection import train_test_split

In [506]:
x_train, x_test, y_train, y_test = train_test_split(features, labels)

In [508]:
from sklearn.ensemble import GradientBoostingRegressor

In [509]:
model = GradientBoostingRegressor()

In [510]:
model.fit(x_train, y_train)

/home/ghaff/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [511]:
model.score(x_test, y_test)
# int(model.predict(x_train)[0].round())

0.21043083326011516

In [441]:
sample_data = pd.read_csv('SampleSubmission.csv')

In [442]:
sample_data_2 = sample_data

In [443]:
sample_data_2['acc'] = sample_data_2['Account X date X PID'].str.split('X').str[0]
sample_data_2['date'] = sample_data_2['Account X date X PID'].str.split('X').str[1]
sample_data_2['PID'] = sample_data_2['Account X date X PID'].str.split('X').str[2]
# sample_data_2['Account X date X PID'].str.split('X')[1][2]

In [444]:
sample_data_2.head()

,Account X date X PID,Prediction,acc,date,PID
0,256786974320 X 2020-02-23 X 5YR6,0,256786974320,2020-02-23,5YR6
1,256786974320 X 2020-02-23 X WLIW,0,256786974320,2020-02-23,WLIW
2,256786974320 X 2020-02-23 X U1DD,0,256786974320,2020-02-23,U1DD
3,256786974320 X 2020-02-23 X T0LZ,0,256786974320,2020-02-23,T0LZ
4,256786974320 X 2020-02-23 X 80G0,0,256786974320,2020-02-23,80G0

In [445]:
sample_data_2['date'] = pd.to_datetime(sample_data_2['date'])
sample_data_2['day'] = sample_data_2['date'].dt.day
sample_data_2['month'] = sample_data_2['date'].dt.month
sample_data_2['year'] = sample_data_2['date'].dt.year
# sample_data_2['hour'] = sample_data_2['date'].dt.hour
# sample_data_2['minute'] = sample_data_2['date'].dt.minute

In [446]:
sample_data_2.head()

,Account X date X PID,Prediction,acc,date,PID,day,month,year
0,256786974320 X 2020-02-23 X 5YR6,0,256786974320,2020-02-23,5YR6,23,2,2020
1,256786974320 X 2020-02-23 X WLIW,0,256786974320,2020-02-23,WLIW,23,2,2020
2,256786974320 X 2020-02-23 X U1DD,0,256786974320,2020-02-23,U1DD,23,2,2020
3,256786974320 X 2020-02-23 X T0LZ,0,256786974320,2020-02-23,T0LZ,23,2,2020
4,256786974320 X 2020-02-23 X 80G0,0,256786974320,2020-02-23,80G0,23,2,2020

In [447]:
sample_data_2['PID'] = encoder.fit_transform(sample_data_2['PID'])
sample_data_2['acc'] = encoder.fit_transform(sample_data_2['acc'])

In [448]:
features_test = sample_data_2[['acc','day', 'month', 'year']]

In [449]:
features_test.head()

   acc  day  month  year
0  597   23      2  2020
1  597   23      2  2020
2  597   23      2  2020
3  597   23      2  2020
4  597   23      2  2020

In [450]:
model.predict(features_test)

array([16.6, 16.6, 16.6, ..., 27.8, 27.8, 27.8])

In [451]:
sample_data_2['predicted_pid'] = model.predict(features_test)

In [452]:
sample_data_2.tail()

,Account X date X PID,Prediction,acc,date,PID,day,month,year,predicted_pid
111043,256704700785 X 2020-02-29 X P4IQ,0,107,2020-02-29,13,29,2,2020,27.8
111044,256704700785 X 2020-02-29 X PNYC,0,107,2020-02-29,15,29,2,2020,27.8
111045,256704700785 X 2020-02-29 X YDAG,0,107,2020-02-29,21,29,2,2020,27.8
111046,256704700785 X 2020-02-29 X ZDTG,0,107,2020-02-29,23,29,2,2020,27.8
111047,256704700785 X 2020-02-29 X 7IPS,0,107,2020-02-29,6,29,2,2020,27.8

In [453]:
sample_data_2['predicted_pid'] = sample_data_2['predicted_pid'].astype(int)

In [454]:
sample_data_2[sample_data_2['PID'] == sample_data_2['predicted_pid']]

,Account X date X PID,Prediction,acc,date,PID,day,month,year,predicted_pid
9,256786974320 X 2020-02-23 X Q9SJ,0,597,2020-02-23,16,23,2,2020,16
26,256786974320 X 2020-02-24 X U1DD,0,597,2020-02-24,19,24,2,2020,19
51,256786974320 X 2020-02-25 X T0LZ,0,597,2020-02-25,17,25,2,2020,17
81,256786974320 X 2020-02-26 X Q9SJ,0,597,2020-02-26,16,26,2,2020,16
105,256786974320 X 2020-02-27 X Q9SJ,0,597,2020-02-27,16,27,2,2020,16
...,...,...,...,...,...,...,...,...,...
110781,256772589252 X 2020-02-25 X YDAG,0,311,2020-02-25,21,25,2,2020,21
110786,256772589252 X 2020-02-26 X U1DD,0,311,2020-02-26,19,26,2,2020,19
110810,256772589252 X 2020-02-27 X U1DD,0,311,2020-02-27,19,27,2,2020,19
110833,256772589252 X 2020-02-28 X WLIW,0,311,2020-02-28,20,28,2,2020,20
110857,256772589252 X 2020-02-29 X WLIW,0,311,2020-02-29,20,29,2,2020,20

In [455]:
# for i in range(len(sample_data_2.Prediction)):
#     if sample_data_2.iloc[i]['PID'] == sample_data_2.iloc[i]['predicted_pid']:
#         sample_data_2.iloc[i]['Prediction'] == 1
#     else:
#         sample_data_2.iloc[i]['Prediction'] == 0

In [456]:
sample_data_2['Prediction'].value_counts()

0    111048
Name: Prediction, dtype: int64

In [457]:
sample_data_2[sample_data_2['PID'] == sample_data_2['predicted_pid']]

,Account X date X PID,Prediction,acc,date,PID,day,month,year,predicted_pid
9,256786974320 X 2020-02-23 X Q9SJ,0,597,2020-02-23,16,23,2,2020,16
26,256786974320 X 2020-02-24 X U1DD,0,597,2020-02-24,19,24,2,2020,19
51,256786974320 X 2020-02-25 X T0LZ,0,597,2020-02-25,17,25,2,2020,17
81,256786974320 X 2020-02-26 X Q9SJ,0,597,2020-02-26,16,26,2,2020,16
105,256786974320 X 2020-02-27 X Q9SJ,0,597,2020-02-27,16,27,2,2020,16
...,...,...,...,...,...,...,...,...,...
110781,256772589252 X 2020-02-25 X YDAG,0,311,2020-02-25,21,25,2,2020,21
110786,256772589252 X 2020-02-26 X U1DD,0,311,2020-02-26,19,26,2,2020,19
110810,256772589252 X 2020-02-27 X U1DD,0,311,2020-02-27,19,27,2,2020,19
110833,256772589252 X 2020-02-28 X WLIW,0,311,2020-02-28,20,28,2,2020,20
110857,256772589252 X 2020-02-29 X WLIW,0,311,2020-02-29,20,29,2,2020,20

In [458]:
# sample_data_2.replace(sample_data_2[sample_data_2['PID'] == sample_data_2['predicted_pid']].Prediction, 0, inplace=True)

In [467]:
new = sample_data_2[sample_data_2['PID'] == sample_data_2['predicted_pid']]

In [469]:
new.Prediction = 1

/home/ghaff/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [471]:
new.head()

,Account X date X PID,Prediction,acc,date,PID,day,month,year,predicted_pid
9,256786974320 X 2020-02-23 X Q9SJ,1,597,2020-02-23,16,23,2,2020,16
26,256786974320 X 2020-02-24 X U1DD,1,597,2020-02-24,19,24,2,2020,19
51,256786974320 X 2020-02-25 X T0LZ,1,597,2020-02-25,17,25,2,2020,17
81,256786974320 X 2020-02-26 X Q9SJ,1,597,2020-02-26,16,26,2,2020,16
105,256786974320 X 2020-02-27 X Q9SJ,1,597,2020-02-27,16,27,2,2020,16

In [475]:
sample_data_2 = sample_data_2[sample_data_2['PID'] != sample_data_2['predicted_pid']]

In [477]:
final = pd.concat([new, sample_data_2], axis=0)

In [479]:
final_data = final[['Account X date X PID', 'Prediction']]

In [481]:
final_data.to_csv('Submission.csv')

In [460]:
sample_data_2['Prediction'].value_counts()

0    111048
Name: Prediction, dtype: int64

In [461]:
# sample_data_2.head()

In [462]:
sample_data_2.loc[(sample_data_2.Prediction == sample_data_2.predicted_pid), 'Prediction'] = 1

In [463]:
sample_data_2['Prediction'].value_counts()

0    111048
Name: Prediction, dtype: int64