In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('Train.csv')

In [4]:
data.head()

                      date           acc   PID
0  2019-12-13 11:38:33.226  256787571627  80G0
1  2019-11-12 11:46:23.755  256789598703  WLIW
2  2019-11-10 06:12:27.728  256753510223  U1DD
3  2019-12-20 13:34:17.453  256702652564  T0LZ
4  2019-11-15 09:16:06.591  256704005298  80G0

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
encoder = LabelEncoder()

In [9]:
data['PID'] = encoder.fit_transform(data['PID'])
data['acc'] = encoder.fit_transform(data['acc'])

In [10]:
data.head()

                      date   acc  PID
0  2019-12-13 11:38:33.226  2384    8
1  2019-11-12 11:46:23.755  2522   28
2  2019-11-10 06:12:27.728   757   26
3  2019-12-20 13:34:17.453   230   24
4  2019-11-15 09:16:06.591   323    8

In [13]:
data['date'] = pd.to_datetime(data['date'])

In [14]:
data['date'].head()

0   2019-12-13 11:38:33.226
1   2019-11-12 11:46:23.755
2   2019-11-10 06:12:27.728
3   2019-12-20 13:34:17.453
4   2019-11-15 09:16:06.591
Name: date, dtype: datetime64[ns]

In [16]:
data['day'] = data['date'].dt.day

In [17]:
data['month'] = data['date'].dt.month

In [19]:
featureset = data[['acc', 'day', 'month']]
labels = data[['PID']]

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(featureset, labels)

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
model = RandomForestClassifier(n_estimators=100)

In [29]:
model.fit(x_train, y_train)

C:\Users\Ennin Francis\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [30]:
model.score(x_test, y_test)

0.4727283661074027

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
model2 = RandomForestRegressor(n_estimators=100)

In [33]:
model2.fit(x_train, y_train)

C:\Users\Ennin Francis\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [34]:
model2.score(x_test, y_test)

0.2546364335723569

In [36]:
Predicted_PID = model.predict(x_test).round()

In [37]:
sample_data = pd.read_csv('SampleSubmission.csv')

In [38]:
sample_data.head()

               Account X date X PID  Prediction
0  256786974320 X 2020-02-23 X 5YR6           0
1  256786974320 X 2020-02-23 X WLIW           0
2  256786974320 X 2020-02-23 X U1DD           0
3  256786974320 X 2020-02-23 X T0LZ           0
4  256786974320 X 2020-02-23 X 80G0           0

In [41]:
result = pd.DataFrame({'Account X date X PID':'acc', 'Prediction':1})

ValueError: If using all scalar values, you must pass an index